##Условие 1: Задача 1.  
Скачать данные по ссылке https://www.kaggle.com/datasets/astronautelvis/kc-house-data.  
Считать данные с помощью pandas.  
Вывести на экран первые 5 строк.  
1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома. Если реновации дома не было, то в новом признаке поставьте 0.  
1.3 Создайте признаки года продажи, месяца продажи.  
1.4 Удалите признаки date, zipcode, lat, long.  

##Условие 2: 2 задача.  
Создайте датафрейм с клиентами:  
clients = pd.DataFrame({'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474], 'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]})
2.1 Присоедините к таблице clients данные по домам через метод join.  
2.2 Присоедините к таблице clients данные по домам через метод merge.  
Это нужно, чтобы понимать, какие дома покупались клиентами house_id - это индексы датафрейма с домами.  

##Условие 3: 3 задача.  
Составьте несколько сводных таблиц.  
3.1 Найдите среднюю стоимость домов в зависимости от количества спален Отсортируйте от меньшей стоимости к большей.  
3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома.  
3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида.  
3.4 Каких домов в зависимости от этажности и количества спален больше?  
3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома.

##Условие 1: Задача 1.  
Скачать данные по ссылке https://www.kaggle.com/datasets/astronautelvis/kc-house-data.  
Считать данные с помощью pandas.  
Вывести на экран первые 5 строк.  
1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома. Если реновации дома не было, то в новом признаке поставьте 0.  
1.3 Создайте признаки года продажи, месяца продажи.  
1.4 Удалите признаки date, zipcode, lat, long.

In [2]:
import pandas as pd

In [33]:
df = pd.read_csv('../../data/kc-house-data.csv')

In [34]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [31]:
df['delta_renovated'] = df['yr_renovated'] - df['yr_built']
for i in range(len(df['delta_renovated'])):
    if df['delta_renovated'][i] < 0:
        df['delta_renovated'][i] = 0
df[df['delta_renovated'] != 0]

/tmp/ipykernel_5127/4243020994.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['delta_renovated'][i] = 0

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
35,9547205180,20140613T000000,696000.0,3,2.50,2300,3060,1.5,0,0,...,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264,72
95,1483300570,20140908T000000,905000.0,4,2.50,3300,10250,1.0,0,0,...,2390,910,1946,1991,98040,47.5873,-122.249,1950,6045,45
103,2450000295,20141007T000000,1088000.0,3,2.50,2920,8113,2.0,0,0,...,2920,0,1950,2010,98004,47.5814,-122.196,2370,8113,60
115,3626039325,20141121T000000,740500.0,3,3.50,4380,6350,2.0,0,0,...,2780,1600,1900,1999,98117,47.6981,-122.368,1830,6350,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19622,7351200295,20150114T000000,1150000.0,3,1.75,1760,6788,2.0,1,4,...,1760,0,1940,1960,98125,47.7336,-122.284,1630,7588,20
20057,126039256,20140904T000000,434900.0,3,2.00,1520,5040,2.0,0,0,...,1520,0,1977,2006,98177,47.7770,-122.362,1860,8710,29
20444,4305600360,20150225T000000,500012.0,4,2.50,2400,9612,1.0,0,0,...,1230,1170,1962,2009,98059,47.4799,-122.127,2430,5539,47
20447,3319500628,20150212T000000,356999.0,3,1.50,1010,1546,2.0,0,0,...,1010,0,1971,2014,98144,47.5998,-122.311,1010,1517,43
20962,1278000210,20150311T000000,110000.0,2,1.00,828,4524,1.0,0,0,...,828,0,1968,2007,98001,47.2655,-122.244,828,5402,39

In [38]:
def zero(num):
    if num < 0:
        return 0
    else:
        return num
    
df['delta_renovated'] = df['yr_renovated'] - df['yr_built']
df['delta_renovated'] = df['delta_renovated'].apply(zero)
df[df['delta_renovated'] != 0]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,40
35,9547205180,20140613T000000,696000.0,3,2.50,2300,3060,1.5,0,0,...,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264,72
95,1483300570,20140908T000000,905000.0,4,2.50,3300,10250,1.0,0,0,...,2390,910,1946,1991,98040,47.5873,-122.249,1950,6045,45
103,2450000295,20141007T000000,1088000.0,3,2.50,2920,8113,2.0,0,0,...,2920,0,1950,2010,98004,47.5814,-122.196,2370,8113,60
115,3626039325,20141121T000000,740500.0,3,3.50,4380,6350,2.0,0,0,...,2780,1600,1900,1999,98117,47.6981,-122.368,1830,6350,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19622,7351200295,20150114T000000,1150000.0,3,1.75,1760,6788,2.0,1,4,...,1760,0,1940,1960,98125,47.7336,-122.284,1630,7588,20
20057,126039256,20140904T000000,434900.0,3,2.00,1520,5040,2.0,0,0,...,1520,0,1977,2006,98177,47.7770,-122.362,1860,8710,29
20444,4305600360,20150225T000000,500012.0,4,2.50,2400,9612,1.0,0,0,...,1230,1170,1962,2009,98059,47.4799,-122.127,2430,5539,47
20447,3319500628,20150212T000000,356999.0,3,1.50,1010,1546,2.0,0,0,...,1010,0,1971,2014,98144,47.5998,-122.311,1010,1517,43
20962,1278000210,20150311T000000,110000.0,2,1.00,828,4524,1.0,0,0,...,828,0,1968,2007,98001,47.2655,-122.244,828,5402,39